<p style="color: green"><%= notice %></p>

<h1>Memos</h1>

<div id="memos">
  <% @memos.each do |memo| %>
    <p>
      <strong>タイトル:</strong>
      <%= memo.title %>
    </p>
    <p>
      <%= link_to "詳細", memo %>
    </p>
  <% end %>
</div>

<%= link_to "新規作成", new_memo_path %>
